.pc_img img{
   width: 18vw;
  height: 35;

  

}
.pc_img {
  text-align: center;
}
.pc_main{
  
  
    margin: 1% 2% 5% 0;
    width: 20vw;
}
.pc_info{
    margin-left: 10%;
}
.pc_info h3{
    margin: 0;
    color: black;
    
}
.pc_info p{
margin: 0;
font-size: 14px;
color: gray;
}
.black p{
    color: black;
    font-weight: 600;
}